clarifai-grpc
streamlit
streamlit-chat
pydantic
langchain
openai
transformers
faiss-gpu
langchain-experimental
clarifai
transformers
torch
pandas
simple_salesforce==1.10.1


torch
pandas
sentencepiece